* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  background-color: #fffefa;
}
.sectionMargin {
  margin-bottom: 150px;
}
.container {
  width: 77.5%;
  margin: 0 auto;
  padding-right: 74px;
  padding-left: 69px;
}
.btn {
  background-color: #872bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
  padding: 16px 32px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 11px 31px 0 #8c8c8c;
  cursor: pointer;
}
.heading {
  text-align: center;
  margin-bottom: 60px;
}
.heading h4 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #6a14da;
  margin-bottom: 12px;
}
.heading h1 {
  text-transform: capitalize;
  font-size: 44px;
}

/* hero style  */
#hero {
  padding-top: 30px;
  background-image: url("images/Hero-bg.png");
  background-size: 500px;
}
#hero-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#hero-content {
  width: 59%;
  padding-bottom: 50px;
}
#hero-content h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 30px;
}
#hero-content h1 span {
  color: #872bff;
}
#hero-content p {
  color: #8a8a8a;
  line-height: 30px;
  margin-bottom: 30px;
}
#hero-button {
  margin-bottom: 30px;
}
.btn:hover {
  background-color: white;
  color: black;
}
.cv-btn {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 16px 32px;
  border: 1px solid #872bff;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0;
  transition: box shadow ease 0.5s;
}
.cv-btn:hover {
  box-shadow: 0 11px 31px 0 #8c8c8c;
}
#hero-image img {
  width: 490px;
  vertical-align: middle;
}

/* card style  */
#card-box {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.card {
  text-align: center;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 #00000025;
}
.card * {
  margin-bottom: 20px;
}
.card h3 {
  font-weight: bolder;
}
.card p {
  color: #0d132170;
  font-size: 16px;
}
.card a {
  color: #0d1321;
  font-size: 16px;
  font-weight: bold;
}

/* project style  */
.project-card {
  padding: 48px;
  background-color: #ffffff;
  border: 1px solid #872bff;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 60px;
}
.project-img img {
  width: 400px;
  border-radius: 20px;
}
.project-content * {
  margin-bottom: 10px;
}
.project-content h3 {
  font-size: 32px;
}
.project-content p {
  color: #0e0e0e70;
  font-size: 16px;
}
.project-btn {
  margin-top: 30px;
}

/* brands style  */
#brand-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
#brand-box img {
  border-radius: 16px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 4px 0 #00000025;
}
#brand-box img:hover {
  box-shadow: 0 8px 11px 0 #8c8c8c;
}
#experience-btn {
  text-align: center;
}

/* footer style  */
#footer {
  border-top: 2px solid #00000025;
}
#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-copyright {
  font-size: 16px;
  color: #5b5757;
}
#social-links img {
  padding: 10px;
}

/* responsive section  */

/* extra large devices (1201 - 1456)  */
@media screen and (max-width: 1456px) {
  .sectionMargin {
    margin-bottom: 100px;
  }
  .container {
    padding-right: 0px;
    padding-left: 20px;
  }
  #hero {
    padding-top: 10px;
  }
  #hero-content {
    padding-bottom: 40px;
  }
  #hero-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  #hero-content p {
    line-height: 25px;
    margin-bottom: 20px;
  }
  #hero-button {
    margin-bottom: 20px;
  }
  #hero-image img {
    width: 100%;
  }
  .heading {
    margin-bottom: 50px;
  }
  .heading h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .heading h1 {
    font-size: 40px;
  }
  #card-box {
    gap: 50px;
    margin-bottom: 50px;
  }
  .card {
    padding: 40px 50px;
  }
  .card * {
    margin-bottom: 18px;
  }
  .card p {
    font-size: 15px;
  }
  .card a {
    font-size: 15px;
  }
  #experience-btn .btn {
    font-size: 14px;
    margin-right: 0px;
    padding: 16px 32px;
  }
}

/* laptop device (1025 - 1200) */
@media screen and (max-width: 1200px) {
  .sectionMargin {
    margin-bottom: 80px;
  }
  .container {
    width: 82%;
  }
  #hero-content h1 {
    font-size: 35px;
    margin-bottom: 17px;
  }
  #hero-content p {
    line-height: 25px;
  }
  .btn,
  .cv-btn {
    font-size: 12px;
    width: 150px;
  }
  .heading {
    margin-bottom: 40px;
  }
  .heading h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .heading h1 {
    font-size: 38px;
  }
  #card-box {
    gap: 50px;
    margin-bottom: 40px;
  }
  .card {
    padding: 40px;
  }
  .card * {
    margin-bottom: 16px;
  }
  .card p,
  .card a {
    font-size: 14px;
  }
  .project-card {
    padding: 30px;
    gap: 20px;
    margin-bottom: 40px;
  }
  .project-img img {
    width: 370px;
  }
  .project-content * {
    margin-bottom: 8px;
  }
  .project-content h3 {
    font-size: 28px;
  }
  .project-content p {
    font-size: 14px;
  }
  .project-btn {
    margin-top: 15px;
  }
  .project-btn .btn {
    font-size: 12;
    margin-right: 0px;
    padding: 14px 22px;
  }
  #experience-btn .btn {
    font-size: 14px;
    padding: 16px 30px;
  }
}

/* tablet device (769 - 1024) */
@media screen and (max-width: 1024px) {
  #hero {
    padding-top: 50px;
  }
  #hero-container {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #hero-content {
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
  #hero-content h1 {
    font-size: 42px;
    margin-bottom: 17px;
  }
  #hero-content p {
    font-size: 18px;
    line-height: 30px;
  }
  #hero-button {
    margin-bottom: 10px;
  }
  .btn,
  .cv-btn {
    font-size: 12px;
    max-width: 149px;
  }
  .btn {
    margin-right: 25px;
  }
  #hero-image img {
    max-width: 610px;
    max-height: 590px;
    object-fit: cover;
  }
  #skill-container {
    width: 85%;
  }
  .heading {
    margin-bottom: 35px;
  }
  .heading h4 {
    font-size: 18px;
    margin-bottom: 9px;
  }
  .heading h1 {
    font-size: 36px;
  }
  #card-box {
    gap: 25px;
    margin-bottom: 35px;
  }
  .card {
    padding: 20px;
  }
  .card * {
    margin-bottom: 14px;
  }
  .card p,
  .card a {
    font-size: 14px;
  }
  .project-card {
    flex-direction: column;
    padding: 30px;
    text-align: center;
    margin-bottom: 35px;
  }
  .project-content p {
    font-size: 16px;
  }
  .project-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .btn {
    font-size: 14px;
    padding: 16px 32px;
  }
  .project-btn {
    margin-top: 20px;
  }
}

/* android device landscape (577 - 768) */
@media screen and (max-width: 768px) {
  .sectionMargin {
    margin-bottom: 100px;
  }
  .container {
    width: 89%;
    padding-right: 0px;
    padding-left: 10px;
  }
  #hero {
    padding-top: 40px;
  }
  #hero-content h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  #hero-content p {
    font-size: 16px;
    line-height: 20px;
  }
  .btn,
  .cv-btn {
    font-size: 12px;
    max-width: 140px;
    padding: 14px 26px;
  }
  .btn {
    margin-right: 20px;
  }
  #hero-image img {
    max-width: 455px;
    max-height: 450px;
    object-fit: cover;
  }
  .heading {
    margin-bottom: 50px;
  }
  .heading h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .heading h1 {
    font-size: 32px;
  }
  #card-box {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .card {
    max-width: 355px;
    min-height: 350px;
    padding: 40px;
  }
  .card * {
    margin-bottom: 18px;
  }
  .card p,
  .card a {
    font-size: 16px;
  }
  .project-card {
    padding: 30px;
  }
  .project-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
  .project-content h3 {
    font-size: 26px;
  }
  .project-content p {
    font-size: 16px;
  }
  .project-btn {
    margin-top: 20px;
  }
  .project-btn .btn {
    font-size: 12;
    margin-right: 0px;
    padding: 14px 22px;
  }
  #experience-btn .btn {
    font-size: 12px;
    padding: 16px 26px;
  }
  #footer-copyright {
    font-size: 14px;
  }
}

/* android device portrait (350 - 576) */
@media screen and (max-width: 576px) {
  .sectionMargin {
    margin-bottom: 80px;
  }
  .container {
    width: 95%;
    padding-right: 5px;
    padding-left: 10px;
  }
  #hero {
    padding-top: 30px;
  }
  #hero-content h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  #hero-content p {
    font-size: 14px;
    line-height: 20px;
  }
  #hero-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .btn,
  .cv-btn {
    font-size: 11px;
    max-width: 130px;
    padding: 14px 22px;
  }
  .btn {
    margin-right: 0px;
  }
  #hero-image img {
    max-width: 300px;
    max-height: 290px;
    object-fit: cover;
  }
  .heading {
    margin-bottom: 40px;
  }
  .heading h4 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .heading h1 {
    font-size: 26px;
  }
  .card {
    max-width: 280px;
    height: 350px;
    padding: 30px;
  }
  .card p,
  .card a {
    font-size: 14px;
  }
  .project-card {
    padding: 20px;
  }
  .project-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .project-content h3 {
    font-size: 24px;
  }
  .project-content p {
    font-size: 14px;
  }
  #footer-container {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #footer-copyright {
    margin: 10px;
  }
}
